body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

*::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    height: 9vh;
}

header {
    background-color: transparent;
    position: fixed;
    z-index: 10000000;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in;
    background-color: rgba(188, 184, 184, 0.842);
    /* height: 16vh; */

}

header .black-bg {
    background-color: rgb(20, 20, 20);
}

.header-cont {
    display: flex;
    justify-content: space-between;
    /* max-height: 11vh; */

}

/* .container { */
/* display: flex;
    align-items: center;
    justify-content: space-between; */
/* height: 68px;
    margin: 0 auto;*/

/* } */



.left-container, .right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.3rem;
}

.left-container .logo {
    height: 12vh;
    width: 11vw;
}

.left-container ul {
    display: flex;
    list-style: none;
}

.left-container ul li {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: #e5e5e5;
    transition: color .4s;
}

.left-container ul li:hover {
    color: #e5e5e56d;
}

.left-container ul .active {
    font-weight: 700;
    cursor: context-menu;

}

.right-container svg {
    margin-right: 20px;
}

.right-container img {
    margin-right: 20px;
}

.right-container .rightDiv {
    margin-right: 20px;
    font-size: 14px;
}

/*---------------------Banner Section----------------------------*/

.banner-section {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    position: relative;
    padding-top: 80px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    padding-top: 80px;
}

.banner-tittle {
    color: white;
    font-size: 78px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.banner-info {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
}

.banner-overview {
    font-size: 16px;
    color: white;
    line-height: 1.3;
    max-width: 50%;
    /* max-height: 50%; */
    /* overflow-y: auto; */
}

/* .play{
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
} */

.action-buttons-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 8px 23px;
    margin-right: 11px;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    z-index: 10;
    border: 2px solid white;
    transition: all 0.2s ease-out;
}

.action-button:hover {
    border: 2px solid rgb(49, 46, 46);
    background-color: rgba(255, 255, 255, 0.389);
    transition: all 0.3s ease-out;
}

.action-button:last-child {
    border: 2px solid #6d6d6db3;
    background-color: #6d6d6eb3;
}

.action-button:last-child:hover {
    background-color: rgba(255, 255, 255, 0.848);

}

.banner-fadeBottom {
    height: 150px;
    background: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #141414);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/*----------x----------Banner Section------------------x--------*/




/*---------------------Movies Section Files-------------------*/


.movies-section {
    margin: 41px 0;
}

.movies-section-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    margin-bottom: 10px;
    transition: all .4s ease-in;
    cursor: pointer;
}

.explore-nude {
    color: #54b9c5;
    font-size: 12px;
    display: none;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.movies-section-heading:hover .explore-nude {
    display: inline-block;
    opacity: .6;
    color: #54b9c5;
    text-decoration: underline;
}

.movies-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.movie-item-box {
    display: inline-block;
    font-family: Helvetica;
}

.movie-item-details {
    /* display: none; */
    opacity: 0;
    background-color: rgb(43, 41, 41);
    border-radius: 4px;
    transition: all .4s ease;
}

.button-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.button-cont-img {
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
}

.button-cont img:hover {
    border: 3px solid black;
    cursor: pointer;
    /* transform: scale(.95) */
}

.movie-item-details span, .genre-cont {
    font-weight: 700;

}

.genre-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 8px;
}


.ratings {
    font-weight: 700;
    color: green;
    padding: 4px 12px;
}



.movie-item {
    width: 245px;
    object-fit: contain;
    margin-right: 4px;
    position: relative;
    border-radius: 4px;
}

.move-item-img {
    width: inherit;
}



.movie-item-box:hover .movie-item-details {
    /* display: block; */
    opacity: 1;
    z-index: 5;
}

.movie-item-box:hover {
    transition: transform linear 300ms;
    /* transform: scale(1.15); */
    /* z-index: 5; */

}

/*--------x---------- Movies Section Files---------x---------*/

/* Footer */
footer {

    position: relative;
    top: 6720px;
    left: 280px;

}

.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.social-media i {
    padding: 12px;
    cursor: pointer;
    transform: scale(1.3);
}


.footer-cont {
    display: flex;
    flex-direction: row;
}

.footer-cont ul {
    list-style: none;
    color: #808080;
}

.footer-cont ul li {
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
}

.footer-cont ul li:hover {
    text-decoration: underline;
}

.footer-end {
    font-size: 13px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Responsive */
@media (max-width: 768px) {
    .container ul {
        display: none;
    }

    .left-container .logo {
        height: 20vh;
        width: 33vw;
    }

    .banner-content {
        max-width: 50%;
    }

    .banner-tittle {
        font-size: 30px;
    }
    footer {
        position: relative;
        top: 6720px;
        left: 109px;
    }
}

@media only screen and (max-width: 600px) {
    .banner-tittle {
        font-size: 25px;
    }

    .banner-info {
        margin-bottom: 7px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
    }

    .banner-overview {
        font-size: 12px;
        color: white;
        line-height: 1.3;
        max-width: 50%;
        /* max-height: 50%; */
        /* overflow-y: auto; */
    }

    .action-button {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 1px 7px;
        margin-right: 11px;
        border-radius: 4px;
        display: flex;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        z-index: 10;
        border: 2px solid white;
        transition: all 0.2s ease-out;
    }

    .banner-section {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 81vh;
        position: relative;
        padding-top: 80px;
    }



    footer {
        position: relative;
        top: 6720px;
        left: -40px;
    }
}